.crud-product {
  outline: none;
}

#dialog-modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity linear 0.4s;
}

#dialog-modal:target {
  visibility: visible;
  opacity: 1;
}

.dialog-modal-body {
  display: flex;
  flex-direction:column;
  height: 150px;
  width: 250px;
  text-align: center;
  background-color:#1dbfaf;
  margin-top: 12px;
  padding: 12px 16px;
  font-weight: 600;
  color:black;
  font-size: 14px;
  border-radius: 8px;
  position: relative;
}

.dialog-modal-close {
  position: absolute;
  top: 3px;
  right: 6px;
  font-size: 20px;
}

#delete-products-comfirm {
  cursor: pointer;
}

.dialog-modal-close-out {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: default;
}
.notice{
  font-size: 20px;
}
.answer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
html {
  color: #333;
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}
.main {
  background: #f1f1f1;
  min-height: auto;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.heading-add-product{
  color: #333;
  font-size: 40px;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.heading-my-product{
  margin-left: 20%;
  color: #333;
  font-size: 30px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.trash{
  margin-left: 20%;
  color: #333;
  font-size: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form {
  width: 100%;
  min-height: 100px;
  padding: 32px 24px;
  text-align: center;
  background: #fff;
  border-radius: 2px;
  margin: 24px;
  align-self: center;
  box-shadow: 0 2px 5px 0 rgba(51,62,73,.1);
}
.form .heading {
  font-size: 2rem;
}
.form .desc {
  text-align: center;
  color: #636d77;
  font-size: 1.6rem;
  font-weight: lighter;
  line-height: 2.4rem;
  margin-top: 16px;
  font-weight: 300;
}

.form-group {
  display: flex;
  margin-bottom: 16px;
  flex-direction: column;
}

.form-label,
.form-message {
  text-align: left;
}

.form-label {
  font-weight: 700;
  padding-bottom: 6px;
  line-height: 1.8rem;
  font-size: 1.4rem;
}

.form-control {
  height: 40px;
  padding: 8px 12px;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  outline: none;
  font-size: 1.4rem;
}

.form-control:hover {
  border-color: #1dbfaf;
}

.form-group.invalid .form-control {
  border-color: #f33a58;
}

.form-group.invalid .form-message {
  color: #f33a58;
}

.form-message {
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 4px 0 0;
}

.form-submit {
  outline: none;
  background-color: #1dbfaf;
  margin-top: 12px;
  padding: 12px 16px;
  font-weight: 600;
  color: #fff;
  border: none;
  width: 200px;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 100px;
}

.form-submit:hover {
  background-color: #1ac7b6;
}

.spacer {
  margin-top: 20px;
}

/* I do */

.add-product-body{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.add-product-button{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.add-product-textarea{
  margin-left: 80px;
  width: 50%;
}


textarea {

  resize: none;
}

.product-table {
  margin-left: 20%;
  font-size: 1.5em;
  min-width:1000px;
  overflow: hidden;
}


.product-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.product-table th,
.product-table td {
  padding: 12px 15px;
}

.product-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.product-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.product-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.product-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

